main{
    display: flex;
    flex-direction: row;
}

.hidden{
    visibility: hidden;
}

#formulaire-fromage{
    display: flex;
    flex-direction: column;
}

#plateau-proposition{
    display: flex;
    flex-direction: column;
}